:root {
  --bg-image: linear-gradient(230deg, rgb(0, 0, 182), rgb(255, 0, 0));
}

*:not(.switch) {
  transform: scale(1.05);
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drumpad-container {
  order: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.drumpad {
  width: 50px;
  height: 43px;
  font-size: 15px;
  padding: 0;
  background: linear-gradient(170deg, black, #da00008e);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgb(0, 1, 44);
  opacity: 0.85;
}

.drumpad:focus {
  outline: 0;
}

.drumpad:hover {
  transform: scale(1.25);
  opacity: 1;
}

.drumpad.active {
  background: linear-gradient(340deg, black, #0713c08e);
  outline: 0;
  transform: scale(1.1);
  border: white solid 1.5px;
}

.controls-container {
  order: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.switch-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1px;
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background: linear-gradient(90deg, #c90e0e, black);
  box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.61);
  transition: background 1s ease;
}

.switch-container.on {
  background: linear-gradient(90deg, rgba(15, 182, 0, 0.801), rgb(0, 0, 0));
}

.switch {
  position: relative;
  z-index: 1;
  width: 50%;
  height: 100%;
  border: 1px solid silver;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: transform 1s ease;
}

.switch:hover {
  cursor: pointer;
}

.switch:focus {
  outline: 0;
}

.switch:active {
  cursor: default;
}

.switch.on {
  transform: translate(100%) scale(1);
}

span {
  position: absolute;
  z-index: 0;
  font-size: 15px;
}

span.on {
  left: 10%;
  color: rgb(112, 255, 112);
}

span.off {
  right: 10%;
  color: rgb(114, 0, 0);
}

.sound-display {
  width: 150px;
  padding: 7px 0 5px 0;
  margin-top: 15px;
  background: linear-gradient(170deg, black, #0713c08e);
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgb(0, 1, 44);
}

.volume-text {
  font-family: "Alfa Slab One", cursive;
  font-size: 10px;
  margin: 15px 0;
  letter-spacing: 1px;
  font-style: italic;
}

.volume-slider {
  appearance: none;
  height: 12px;
  width: 150px;
  background: linear-gradient(135deg, #0713c08e, #da00008e);
  opacity: 0.6;
  transition: all 0.3s ease;
  border-radius: 5px;
  border: 2px black solid;
  box-shadow: 0px 1px 10px 1px black;
  margin-bottom: 12px;
}

.volume-slider:focus {
  outline: 0;
}
.volume-slider:hover {
  cursor: grab;
  opacity: 0.8;
}
.volume-slider:active {
  cursor: grabbing;
  opacity: 1;
  transform: scale(1.15);
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 6px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.footer {
  margin-top: 50px;
}

@media (min-width: 480px) {
  :root {
    --bg-image: linear-gradient(230deg, rgb(255, 0, 0), rgb(0, 0, 182));
  }

  h1 {
    margin-bottom: 100px;
  }

  .drum-machine {
    min-width: 768px;
    flex-direction: row;
  }

  .drumpad-container {
    order: 0;
  }

  .controls-container {
    order: 1;
    margin-left: 45px;
    margin-bottom: 0px;
  }

  .footer {
    margin-top: 100px;
  }
}

@media (min-width: 768px) {
  :root {
    --bg-image: linear-gradient(230deg, rgb(0, 0, 182), rgb(255, 0, 0));
  }
  *:not(.switch) {
    transform: scale(1.11);
  }

  .controls-container {
    margin-left: 80px;
  }
}

@media (min-width: 1024px) {
  :root {
    --bg-image: linear-gradient(230deg, rgb(255, 0, 0), rgb(0, 0, 182));
  }
  *:not(.switch) {
    transform: scale(1.15);
  }

  .drumpad-container {
    gap: 16px;
  }

  .controls-container {
    margin-left: 100px;
  }

  .volume-slider:active {
    transform: scale(1.2);
  }
}

@media (min-width: 1200px) {
  :root {
    --bg-image: linear-gradient(230deg, rgb(0, 0, 182), rgb(255, 0, 0));
  }
  *:not(.switch) {
    transform: scale(1.18);
  }

  .drumpad-container {
    gap: 18px;
  }

  .controls-container {
    margin-left: 120px;
  }

  .volume-slider:active {
    transform: scale(1.27);
  }
}
