* {
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-family: "Roboto";
}

body {
  margin: 0;
  background: linear-gradient(170deg, black, #c90e0e);
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 120px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.drum-machine {
  width: 768px;
  display: flex;
  justify-content: center;
}

.drumpad-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.drumpad {
  width: 50px;
  height: 43px;
  font-size: 15px;
  padding: 0px 0;
  background: linear-gradient(170deg, black, #da00008e);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgb(0, 1, 44);
  opacity: 0.85;
}

.drumpad:focus {
  outline: 0;
}

.drumpad:hover {
  transform: scale(0.93);
  opacity: 1;
}

.drumpad.active {
  background: linear-gradient(340deg, black, #0713c08e);
  outline: 0;
  transform: scale(1.1);
  border: white solid 1.5px;
}

.controls-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.switch-container {
  width: 70px;
  background: linear-gradient(170deg, black, #0713c08e);
  border: 1px solid black;
  text-align: left;
}

.power-btn {
  width: 50%;
  background: white;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.power-btn.on {
  transform: translate(100%);
}

.power-btn i {
  color: red;
  transition: color 1s ease, transform 1s ease;
}

.power-btn i.on {
  transform: rotate(180deg);
  color: rgb(27, 214, 27);
}

.power-btn:focus {
  outline: 0;
}

input[type="range"] {
  width: 150px;
  background: red;
}

.textbox {
  width: 150px;
  padding: 10px;
  background: linear-gradient(170deg, black, #0713c08e);
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgb(0, 1, 44);
}

.footer {
  margin-top: 120px;
}

@media (min-width: 500px) {
  * {
    transform: scale(1.1);
  }

  .controls-container {
    margin-left: 60px;
  }
}

@media (min-width: 850px) {
  * {
    transform: scale(1.15);
  }

  .controls-container {
    margin-left: 80px;
  }
}

@media (min-width: 1150px) {
  * {
    transform: scale(1.2);
  }

  .controls-container {
    margin-left: 120px;
  }
}
